In [1]:
#CAPSTONE PROJECT; LENDING IN ZAMBIA

In [88]:
import pandas as pd 
from faker import Faker
import random 
import matplotlib.pyplot as plt 
import seaborn as sns

In [89]:
!pip install faker

Requirement already satisfied: faker in c:\users\ebuca\anaconda3\lib\site-packages (36.1.1)
Requirement already satisfied: tzdata in c:\users\ebuca\anaconda3\lib\site-packages (from faker) (2023.3)

In [166]:
btc_data = pd.read_csv(r"C:\Users\ebuca\OneDrive\Documents\DA13\Python\projects\Capstone_project\btc-usd-max.csv")
print(btc_data.head(20))

               bitcoin_date    price  bitcoin_sats  one_dollar_sats
0   2017-08-02 00:00:00 UTC  2697.85   100000000.0            37067
1   2017-08-03 00:00:00 UTC  2777.37   100000000.0            36005
2   2017-08-04 00:00:00 UTC  2845.90   100000000.0            35138
3   2017-08-05 00:00:00 UTC  3237.07   100000000.0            30892
4   2017-08-06 00:00:00 UTC  3189.73   100000000.0            31351
5   2017-08-07 00:00:00 UTC  3356.71   100000000.0            29791
6   2017-08-08 00:00:00 UTC  3410.45   100000000.0            29322
7   2017-08-09 00:00:00 UTC  3330.90   100000000.0            30022
8   2017-08-10 00:00:00 UTC  3367.91   100000000.0            29692
9   2017-08-11 00:00:00 UTC  3562.59   100000000.0            28069
10  2017-08-12 00:00:00 UTC  3800.14   100000000.0            26315
11  2017-08-13 00:00:00 UTC  4023.25   100000000.0            24855
12  2017-08-14 00:00:00 UTC  4175.70   100000000.0            23948
13  2017-08-15 00:00:00 UTC  4149.31   100000000.0            24100
14  2017-08-16 00:00:00 UTC  4262.56   100000000.0            23460
15  2017-08-17 00:00:00 UTC  4286.92   100000000.0            23327
16  2017-08-18 00:00:00 UTC  4097.69   100000000.0            24404
17  2017-08-19 00:00:00 UTC  4115.21   100000000.0            24300
18  2017-08-20 00:00:00 UTC  4001.23   100000000.0            24992
19  2017-08-21 00:00:00 UTC  3935.23   100000000.0            25411

In [168]:
data = pd.read_csv(r"C:\Users\ebuca\OneDrive\Documents\DA13\Python\projects\Capstone_project\updated_loan_data.csv")
fake = Faker()
def assign_random_names(df):
    df['Names'] = [fake.name() for _ in range(len(df))]
    cols = ['Names'] + [col for col in df.columns if col != 'Names']  # Reorder columns
    return df[cols]
    
data.columns = data.columns.str.strip().str.lower()  # Remove spaces & lowercase
print(data.columns)  

# Convert 'issue_month' to a full date format, assuming the 1st of each month
data['issue_date'] = pd.to_datetime(data['issue_month'], format='%y-%b') + pd.offsets.MonthBegin(0)

data = assign_random_names(data)
print(data.head(10))

Index(['names', 'profession', 'job_length', 'state', 'homeownership',
       'annual_income', 'debt_to_income', 'earliest_credit_line',
       'total_credit_lines', 'total_credit_limit', 'total_credit_utilized',
       'loan_purpose', 'loan_amount', 'term', 'interest_rate', 'installment',
       'total_payment', '10% of monthly', 'bitcoin strategy', 'issue_month',
       'issue_date'],
      dtype='object')
            Names             names          profession  job_length state  \
0      Stacy Frey       Tina Parker             realtor         7.0    CO
1    Kelly Cooper       Joshua Park                 NaN         NaN    CA
2     Sandra Kidd       Mark Keller                 NaN         NaN    CA
3      Jason Hunt     Andrew Morgan                 NaN         NaN    CA
4  Kristin Gordon       Diana Mills     quality control         1.0    MO
5   Frank Beasley    Jennifer House                 NaN         NaN    NC
6    James Turner     Michael Smith  payroll manager/ar         6.0    CO
7     Wendy Young   Mr. Scott Scott                 NaN         NaN    AL
8   Timothy Smith  Richard Campbell              driver         5.0    GA
9  Curtis Baldwin     Jeremy Flores                 NaN         NaN    LA

  homeownership annual_income  debt_to_income  earliest_credit_line  \
0          RENT       150,000           18.80                  1963
1      MORTGAGE       110,000           11.20                  1963
2           OWN        50,256           28.37                  1964
3      MORTGAGE        32,000           10.92                  1965
4          RENT        70,000            8.61                  1966
5           OWN        54,032           30.52                  1967
6           OWN       106,000           23.54                  1967
7      MORTGAGE        59,871           29.17                  1968
8      MORTGAGE       700,000            1.48                  1968
9          RENT        13,390           80.18                  1969

   total_credit_lines  ...        loan_purpose loan_amount term  \
0                  15  ...  debt_consolidation       22500   36
1                  20  ...    home_improvement       15000   60
2                  26  ...               other        5000   36
3                  32  ...  debt_consolidation       12000   36
4                  21  ...  debt_consolidation       30000   36
5                  23  ...  debt_consolidation        2500   36
6                  20  ...  debt_consolidation       36000   60
7                  44  ...  debt_consolidation       10000   36
8                   5  ...               other        5600   36
9                  17  ...         credit_card       31675   36

   interest_rate  installment  total_payment 10% of monthly  bitcoin strategy  \
0           5.31          677          26084             68               NaN
1           7.34          299          20505             30               NaN
2           6.07          152           5911             15               NaN
3          11.99          399          16316             40               NaN
4          10.90          981          39810             98               NaN
5          20.00           93           4000              9               NaN
6           9.44          755          52992             76               NaN
7           7.97          313          12391             31               NaN
8          12.62          188           7720             19               NaN
9           6.71          974          38051             97               NaN

   issue_month  issue_date
0       18-Mar  2018-03-01
1       18-Mar  2018-03-01
2       18-Mar  2018-03-01
3       18-Feb  2018-02-01
4       18-Mar  2018-03-01
5       18-Jan  2018-01-01
6       18-Jan  2018-01-01
7       18-Feb  2018-02-01
8       18-Jan  2018-01-01
9       18-Mar  2018-03-01

[10 rows x 22 columns]

In [169]:
total_loan_amount = data['loan_amount'].sum()
print(f"Total Loan Amount: ${total_loan_amount:,.2f}")

Total Loan Amount: $163,619,225.00

In [172]:

# finding which profession took the most loans
profession_loans = data.groupby('profession')['loan_amount'].sum().sort_values(ascending=False)

print(profession_loans.head(10))

profession
manager             3813425
owner               3557825
teacher             3256775
driver              1885700
sales               1695825
registered nurse    1542925
rn                  1428125
president           1317650
supervisor          1246625
truck driver        1053800
Name: loan_amount, dtype: int64

In [174]:
## fidning percentage of owners from the cali region

data['profession'] = data['profession'].str.lower()


total_owners = data[data['profession'] == 'owner'].shape[0]

# Number of "owners" in (CA)
owners_in_ca = data[(data['state'] == 'CA') & (data['profession'] == 'owner')].shape[0]

#percentage
percentage_owners_in_ca = (owners_in_ca / total_owners) * 100 if total_owners > 0 else 0

print(f"Percentage of 'owners' in CA: {percentage_owners_in_ca:.2f}%")

Percentage of 'owners' in CA: 16.18%

In [176]:
#total amount of loans given out this quater?

In [178]:
# percentage of each state loan amount relative to the total amount
state_loan_totals = data.groupby('state')['loan_amount'].sum()  # Use correct column name

# Calculate percentage of each state's total loan amount relative to the overall loan amount
state_loan_percentage = (state_loan_totals / state_loan_totals.sum()) * 100

# Convert to DataFrame properly
state_loan_percentage = state_loan_percentage.reset_index()

# Rename columns for clarity
state_loan_percentage.columns = ['state', 'loan_percentage']

#Sorting descending order to show the states with the highest loan amounts
state_loan_percentage = state_loan_percentage.sort_values('loan_percentage', ascending=False)

state_loan_percentage.index = range(1, len(state_loan_percentage) + 1)

top_10_states = state_loan_percentage.head(10)
print(top_10_states)

   state  loan_percentage
1     CA        13.490896
2     TX         8.406882
3     NY         7.694481
4     FL         6.847407
5     IL         4.141689
6     NJ         3.462827
7     GA         3.389149
8     OH         3.321202
9     NC         2.939279
10    PA         2.851636

In [198]:

## Convert 'issue_date' in loan_data to datetime format (same as bitcoin_date format)
# Check if the 'issue_date' is already timezone-aware
if data['issue_date'].dt.tz is None:
    # If not, localize to UTC
    data['issue_date'] = pd.to_datetime(data['issue_date']).dt.tz_localize('UTC')
else:
    # If already timezone-aware, convert to UTC
    data['issue_date'] = data['issue_date'].dt.tz_convert('UTC')

# Now, merge the two datasets on the date (nearest match for each customer)
merged_data = pd.merge_asof(data.sort_values('issue_date'), 
                            btc_data.sort_values('bitcoin_date'),
                            left_on='issue_date', right_on='bitcoin_date', 
                            direction='nearest')

# Now, calculate the satoshis bought for each customer using their 10% monthly repayment
merged_data['satoshis_bought'] = (merged_data['10% of monthly'] / merged_data['price']) * 100000000

# Show the first few rows of the merged data
print(merged_data[['Names', 'profession', 'issue_date', '10% of monthly', 'price', 'satoshis_bought']].head())

              Names                    profession                issue_date  \
0     Jordan Walton  program development director 2018-01-01 00:00:00+00:00
1           Roy Ray                        sales  2018-01-01 00:00:00+00:00
2       John Holmes                           NaN 2018-01-01 00:00:00+00:00
3      Allison Bass                    supervisor 2018-01-01 00:00:00+00:00
4  Michael Harrison                office manager 2018-01-01 00:00:00+00:00

   10% of monthly     price  satoshis_bought
0              52  14093.61    368961.536469
1              48  14093.61    340579.879818
2              11  14093.61     78049.555792
3              61  14093.61    432820.263935
4              18  14093.61    127717.454932